<div class="navbar">
<div class="logo">
<%= image_tag asset_path("logo.jpeg"), width: 100 %>
</div>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">FluffyTals2</a>
  </li>
  <li class="nav-item">
    <%= link_to "Show Product",  item_page_path, class:"nav-link active"%>
  </li>
   <li class="nav-item">
    <%= link_to "Your cart", products_path, class:"nav-link active" %>
  </li> 
  <li class="nav-item">
    <% if !user_signed_in? %>
     <%= link_to "Sign in",new_user_session_path, class: "nav-link" %>
    <% end %>
  </li> 

  <li class="nav-item">
    <% if user_signed_in? %>
    <%= link_to "Edit new", edit_user_registration_path, class: "nav-link" %>
    <% end %>
  </li> 
 <li class="nav-item">
    <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% end %>
  </li>
</ul>

</div>